{{define "footer"}}
<footer>
    <p>
        Copyright 2024 Melvin Wiens
    </p>
    <p>
        Contact information: <a href="mailto:melvin@omgosh.org">melvin@omgosh.org</a>.
    </p>
</footer>
{{end}}